body{
	font-family: 'Trebuchet MS';
	background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url("background.jpg");
}
.question__container
{
	font-family: 'Trebuchet MS';
	display: flex;
	width: 100%;
	margin-top: 50px;
	flex-direction: column;
}
.question{
	margin-left: auto;
	margin-right: auto;
}
.question input{
	color: #fff;
	font-family: 'Trebuchet MS';
	text-align: center;
	width: 200px;
	transition: all 0.5s;
	border: 0;
	border-radius: 10px;
	background-color: rgba(84, 83, 83, 0.813);
}
.question input:focus{
	color: black;
	width: 250px;
	background-color: #fff;
}
.buttons{
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 0;
	width: 150px;
	transition: width 0.5s;
}
.buttons button{
	width: 70px;
	height: 20px;
	color: #fff;
	background-color: #931827;
	font-family: 'Trebuchet MS';
	transition: all 0.5s;
	border: 0;
	border-radius: 10px;
}
.buttons button:hover{
	background-color: #ff0000;
	cursor: pointer;
}
.question input:focus
{
	outline: 0;
	width: 250px;
}
.wrapper
{
	font-family: 'Trebuchet MS';
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 600px;
    height: 400px;
    background: linear-gradient(149deg, rgba(24,187,156,1) 0%, rgb(0, 0, 0) 42%, rgb(0, 247, 255) 72%, rgb(0, 0, 0) 100%);
    animation: gradient 10s infinite linear;
    background-size: 500%;
}
.ball__container
{
	position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.ball__background
{
		display: flex;
    flex-direction: column;
    background-color: #2e2c52ac;
    width: 95%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.ball__title
{
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
    margin-top: 20px;
    background-color: rgba(255, 0, 8, 0.508);
    border-radius: 50px;
    width: 70%;
    height: 10%;
    padding-left: 5px;
    padding-right: 5px;
}
.ball__image
{
	margin-top: 6	0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.ball__answer
{
    position: absolute;
    top: 49%;
    left: 43%;
    background-color: rgba(0, 0, 0, 0.617);
    border-radius: 10px;
    width: 70px;
}
img:active{
	animation: shake 0.5s infinite;
}
@keyframes shake {
	0% { transform: translate(4px, 4px) rotate(0deg); }
	10% { transform: translate(-8px, -8px) rotate(-1deg); }
	20% { transform: translate(-6px, 0px) rotate(1deg); }
	30% { transform: translate(6px, 4px) rotate(0deg); }
	40% { transform: translate(2px, -2px) rotate(1deg); }
	50% { transform: translate(-2px, 4px) rotate(-1deg); }
	60% { transform: translate(-6px, 2px) rotate(0deg); }
	70% { transform: translate(6px, 2px) rotate(-1deg); }
	80% { transform: translate(-2px, -2px) rotate(1deg); }
	90% { transform: translate(2px, 4px) rotate(0deg); }
	100% { transform: translate(2px, -4px) rotate(-1deg); }
}
@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}
@media (max-width: 600px)
{
    .ball__background
    {
        width: 90%;
    }
    .wrapper
    {
        width: 300px;
    }
    .ball__image
    {
        margin-top: 40px;
        width: 110%;
        margin-left: -5px;
        margin-right: 0px;
    }
    .ball__image img
    {
        width: 100%;
    }
    .ball__title
    {
        font-size: 15px;
        line-height: 2.5em;
    }
    .ball__answer
    {
        left: 40%;
        font-size: 18px;
        
    }
}
